<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174052199190-b6aob1d3tjcvl78q7rdb053o2151o5t7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174052199190-b6aob1d3tjcvl78q7rdb053o2151o5t7</string>
	<key>API_KEY</key>
	<string>AIzaSyBDrEtq3MTzj4hk1F2ZGid0SN7KBRKSMd0</string>
	<key>GCM_SENDER_ID</key>
	<string>174052199190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AndrewKolesnikov.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-6722c</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-6722c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174052199190:ios:4dd698336c38fb49a71e37</string>
</dict>
</plist>